<div id="sidebar" class="bg-light border-end">
  <ul class="nav flex-column p-3" id="sidebarMenu">
    <li class="nav-item"><a class="nav-link" href="/index.html">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/users.html">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/analytics.html">Analytics</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/settings.html">Settings</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/profile.html">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/ui-elements.html">UI Elements</a></li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#formSub" role="button" aria-expanded="false" aria-controls="formSub">Forms</a>
      <div class="collapse ps-3" id="formSub">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="/pages/form-basic.html">Basic</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/form-advanced.html">Advanced</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item"><a class="nav-link" href="/pages/form-basic.html">Forms</a></li>

  </ul>
</div>
